{{include "base_head.html" .}}

<body>

<div class="ui container maincontainer">
    
  {{include "base_menu.html" .}}

<div class="ui breadcrumb">
  <a class="section" href="{{.url|urlParentPath}}">Home</a>
  <div class="divider"> / </div>
  <a class="section" href="{{.url}}">Scripts</a>
  <div class="divider"> / </div>
  <div class="active section">{{.script_name}}</div>
</div>

<div class="ui divider"></div>

<form class="ui form" id="script_id" method="POST" action="{{ .apiurl }}">

  <div class="field">
    <label>Scripit Name</label>
    <input type="text" name="script_name" id="script_name" value="{{ .script_name }}"
     placeholder="Script Name" required="required" autocomplete="off">
  </div>
  <div class="field">
    <label>Scripit Body</label>
    <textarea name="script_body" id="script_body" 
    placeholder="Script Content" required="required">{{ .script_body }}</textarea>
  </div>

  <button class="ui button" type="submit" id="script_save">Submit</button>

</form>

</div>

<script type="text/javascript">
  $('.ui.dropdown').dropdown();

</script>

</body>
</html>
