<!DOCTYPE html>
<html>
<head>
    <title>Agents - CICD</title>

    {{include "base_head.html" .}}

</head>
<body>

<div class="ui container maincontainer">

    {{include "base_menu.html" .}}

    <div class="ui breadcrumb">
      <a class="section" href="{{.url|urlParentPath}}">Home</a>
      <div class="divider"> / </div>
      <div class="active section">Agents</div>
    </div>

<table class="ui selectable striped table">
    <thead>
      <tr>
          <th colspan="1" class="fourteen wide">
            CI Agents
          </th>
          <th>
            <div class="right aligned collapsing two wide">
                <i class="plus square outline icon" onclick="click_new()"></i>
            </div>
          </th>
      </tr>
    </thead>
    <tbody>
      {{range .agents}}
      <tr>
        <td class="collapsing selectable" colspan="1">
          <a href="{{$.url}}{{.Id}}"><i class="cog icon"></i>{{.Agent_name}}</a>
        </td>
        <td class="right aligned" data-tooltip="{{.Updated_at|timeToStr}}">{{.Updated_at|timeDiffNow}}</td>
      </tr>
      
      {{end}}
    </tbody>
  </table>

</div>

{{include "base_foot.html" .}}

<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    function click_new(){
        window.location.href = "{{.newAgentUrl}}";
    }

</script>


</body>
</html>
