{{include "base_head.html" .}}

<body>

<div class="ui container maincontainer">

    {{include "base_menu.html" .}}

    <div class="ui breadcrumb">
      <a class="section" href="{{.url|urlParentPath|urlParentPath}}">Home</a>
      <div class="divider"> / </div>
      <a class="section" href="{{.url}}">Pipeline</a>
      <div class="divider"> / </div>
      <div class="active section">{{.pipeline_name|shortName}}</div>
    </div>

    <table class="ui selectable table">
      <thead>
        <tr>
            <th class="selectable two wide" colspan="1">
              Jobs
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th class="right aligned two wide"></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Comment</th>
          <th>Author</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {{range .jobs}}
        {{ if eq  .Job_type "BUILD"}}
        <tr style="background-color: rgba(0, 0, 50, 0.08);">
        {{ else }}
        <tr>
        {{ end }}
          <td class="selectable">
            <!-- <a href="{{$.url}}/{{.Id}}"><i class="tasks icon"></i>{{.Id}}</a> -->
            {{ if eq  .Job_type "BUILD"}}
            <a href="{{$.url}}/{{.Id}}"><i class="align left icon"></i>{{.Id}}</a>
            {{ else if eq  .Job_type "DEPLOY"}}
            <a href="{{$.url}}/{{.Id}}"><i class="align right icon"></i>{{.Id}}</a>
            {{ end }}

          </td>
          {{ if eq  .Job_status "pending"}}
          <td style="color: gray;"><i class="paper plane outline icon"></i>{{.Job_status}}</td>
          {{ else if eq  .Job_status "running"}}
          <td style="color: teal;"><i class="sync alternate loading icon"></i>{{.Job_status}}</td>
          {{ else if eq  .Job_status "aborted"}}
          <td style="color: purple;"><i class="crosshairs loading icon"></i>{{.Job_status}}</td>
          {{ else if eq  .Job_status "success"}}
          <td style="color: green;"><i class="check circle outline icon"></i>{{.Job_status}}</td>
          {{ else if eq  .Job_status "failed"}}
          <td style="color: red;"><i class="times circle outline icon"></i>{{.Job_status}}</td>
          {{ end }}
          <td onclick="getEnvs($(this), '{{.Id}}')">{{.Comment}}</td>
          <!-- <td>{{.Job_type}}</td> -->
          <td>{{.Author}}</td>
          <td data-tooltip="{{.Created_at|timeToStr}}">{{.Created_at|timeDiffNow}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <div class="ui three column grid">
      <div class="row">
        <div class="column"></div>

        <div class="center aligned column">
          <div class="ui vertical fluid ">
            <div class="ui pagination">
              <div>{{.page}}</div>
            </div>
          </div>
        </div>

        <div class="right aligned column">
          <div class="ui right vertical fluid ">

    <button class="ui right floated secondary button" onclick="click_new_job()">Deploy</button>

          </div>
        </div>
      </div>
    </div>

</div>

{{include "base_foot.html" .}}

<div class="ui large modal">
    <i class="close icon"></i>

    <div class="content">
      <div class="ui container">

        <div class="field newjob" style="min-height:100px;overflow-y:auto">
          <form class="ui form" action="{{.newJobUrl}}" method="POST">

            <div class="ui top attached tabular menu" id="new_job_modal">
              <a class="item active" data-tab="new_build" data-jobtype="BUILD">New Build</a>
              <a class="item" data-tab="new_deploy" data-jobtype="DEPLOY">New Reploy</a>
            </div>

            <div class="ui bottom attached tab segment active" id="new_build" data-tab="new_build">
              <div class="ui scrolling content" id="new_job_main"></div>
            </div>

            <div class="ui bottom attached tab segment" id="new_deploy" data-tab="new_deploy">
            </div>


            <div class="ui divider"></div>
            <div class="field">
              <div class="ui fluid input">
                <input type="text" placeholder="Comment" name="COMMENT" autocomplete="off">
                <input type="hidden" name="JOBTYPE" value="">
              </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui red right floated submit button">Yes, Deploy</div>
            <!-- <div class="ui error message"></div> -->
            <!-- <div class="ui clearing field">
            </div> -->

          </form>
        </div>

      </div>

    </div>

</div>


<script type="text/javascript">
  $('.ui.dropdown').dropdown();
  $('.menu .item').tab();

  $('#new_job_modal .item').on('click', function() {
    $(this).addClass('active')
            .closest('.ui.menu')
            .find('.item')
            .not($(this))
            .removeClass('active');
    var jobtype = $(this).data("jobtype");
    console.log(jobtype);
    $("#new_job_main").empty();
    if (jobtype == "BUILD") {
      click_new_job("BUILD");
      $("#new_build").append($("#new_job_main"))
    };
    if (jobtype == "DEPLOY") {
      click_new_job("DEPLOY");
      $("#new_deploy").append($("#new_job_main"));
    }
  });

  function getEnvs(jqthis, job_id) {
    $.ajax({
      url: "{{.envurl}}"+job_id+"/env",
      type: 'GET',
      dataType: 'text',
      success: function(res) {
        console.log(res);
        jqthis.popup({
          hoverable: true,
          delay: {
            show: 0,
            hide: 50
          },
          content: res
        });
      }
    });
  }

  function isString(s) {
    return typeof(s) === 'string' || s instanceof String;
  }

  function isArray(obj) {
    if (Array.isArray) {
      return Array.isArray(obj)
    } else {
      return Object.prototype.toString.call(obj) === '[object Array]'
    }
  }

  function click_new_job(jobtype) {
    console.log("click_new_job: " + jobtype);
    $.ajax({
      url: "{{.body_url}}",
      type: 'GET',
      dataType: 'json',
      success: function(res) {
        console.log(res);
        // var pipeline_body = JSON.parse(res.body);
        var pipeline_body = res;
        if ($('#new_job_main').is(':empty') || typeof jobtype !== "undefined") {
          var form_validation = {COMMENT: 'empty'};
          if (jobtype == "BUILD") {
            console.log("jobtype: " + jobtype);
            make_newjob_view(pipeline_body.stageCI.envs, form_validation);
            $('.field.newjob form').form('set value', 'JOBTYPE', 'BUILD');
          } else if (jobtype == "DEPLOY") {
            console.log("jobtype: " + jobtype);
            make_newjob_view(pipeline_body.stageCD.envs, form_validation);
            $('.field.newjob form').form('set value', 'JOBTYPE', 'DEPLOY');
          } else {
            console.log("jobtype: " + "else");
            make_newjob_view(pipeline_body.stageCI.envs, form_validation);
            $('.field.newjob form').form('set value', 'JOBTYPE', 'BUILD');
          }
        }
        $('#job_body').val(res.body);
        $('#agent_id').dropdown('set selected', res.agent_id);
        $('#pipeline_body').val(res.body);
      }
    });
    $('.ui.modal').modal({autofocus: false,}).modal('show');
	}

  function make_newjob_view(job_body, form_validation) {
    var job_envs = job_body;
    console.log('make_newjob_view: ' + job_envs);
    for (envk in job_envs) {
      console.log('envk: ' + envk);
      if (!/^[a-zA-Z0-9_]{2,100}$/.test(envk)) continue;
      console.log('job_envs envk: ' + job_envs[envk]);
      if (envk.startsWith("REPO_") && isString(job_envs[envk])) {
        console.log('REPO_envk: ' + envk);
        form_validation[envk] = 'empty';
        new_option = '';
        new_option = new_option+ '<div class="field" id="'+ envk +'">';
        new_option = new_option+ '<label>'+ envk +'</label>';
        new_option = new_option+ '<div class="ui fluid search selection dropdown">';
        new_option = new_option+ '<input type="hidden" name="'+ envk +'">';
        new_option = new_option+ '<i class="dropdown icon"></i>';
        new_option = new_option+ '<div class="default text">Select Branch or Tag of  '+ job_envs[envk] +'</div>';
        new_option = new_option+ '</div>';
        new_option = new_option+ '</div>';
        $('#new_job_main').append(new_option);
        $('#'+ envk +' .ui.dropdown')
        .dropdown({
          apiSettings: {
            // this url just returns a list of tags (with API response expected above)
            url: "{{.Config.server.console.RepoAPI}}"+job_envs[envk],
            filterRemoteData: true,
            cache:false,
            saveRemoteData: false
          }
        });
      }
      if (envk.startsWith("PKGRDM") && isString(job_envs[envk])) {
        form_validation[envk] = 'empty';
        new_option = '';
        new_option = new_option+ '<div class="field" id="'+ envk +'">';
        new_option = new_option+ '<label>'+ "Package Name" +'</label>';
        new_option = new_option+ '<div class="ui fluid search selection dropdown">';
        new_option = new_option+ '<input type="hidden" name="'+ "PKGRDM" +'">';
        new_option = new_option+ '<i class="dropdown icon"></i>';
        new_option = new_option+ '<div class="default text">Select Package</div>';
        new_option = new_option+ '</div>';
        new_option = new_option+ '</div>';
        $('#new_job_main').append(new_option);
        $('#'+ envk +' .ui.dropdown')
        .dropdown({
          apiSettings: {
            // this url just returns a list of tags (with API response expected above)
            url: "{{.pkgurl}}",
            filterRemoteData: true,
            cache:false,
            saveRemoteData: false
          }
        });
      }
    }

    new_option = '';
    for (envk in job_envs) {
      // console.log('job_envs33: ' + job_envs);
      if (!/^[a-zA-Z0-9_]{2,100}$/.test(envk)) continue;
        envk_v = job_envs[envk]
        if (!isArray(envk_v)) continue;
        form_validation[envk+'[]'] = 'checked';
        new_option = new_option + '<div class="inline fields">';
        new_option = new_option + '<label>'+ envk +'</label>';
        for (k in envk_v) {
          new_option = new_option+'<div class="field">';
          new_option = new_option+'<div class="ui checkbox">';
          new_option = new_option+'<input type="checkbox" name="'+ envk + '[]" value="'+ envk_v[k] +'"';
          // if (k == 0) { new_option = new_option+' checked="checked"'}
          new_option = new_option+ '/>';
          new_option = new_option+ '<label>'+ envk_v[k] +'</label>';
          new_option = new_option+ '</div>';
          new_option = new_option+ '</div>';
        }
        new_option = new_option+ '</div>';
    }
    $('#new_job_main').append(new_option);

    $('.field.newjob form').form({
      fields: form_validation
    });

  }

</script>

</body>
</html>
