
<!DOCTYPE html>
<html>
<head>
    <title>Forbidden - CICD</title>

    {{include "base_head.html" .}}

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body .maincontainer > .grid {
      height: 100%;
    }
    .image {
      margin-top: 200px;
    }
    .column {
      max-width: 450px;
    }
  </style>

</head>
<body>
    <div class="ui container maincontainer">

        {{include "base_menu.html" .}}

        <div class="ui middle aligned center aligned grid">
            <div class="column">
              <h2 class="ui red image header" style="margin-top: 200px;">
                <div class="content">
                  Forbidden
                </div>
              </h2>
          
            </div>
        </div>

    </div>

    {{include "base_foot.html" .}}

</body>

<script type="text/javascript">
</script>

</html>

