<!DOCTYPE html>
<html>
<head>
    <title>Show User - CICD</title>

    {{include "base_head.html" .}}

</head>
<body>

<div class="ui container">
    
  {{include "base_menu.html" .}}

<div class="ui breadcrumb">
  <a class="section" href="{{.url|urlParentPath}}">Home</a>
  <div class="divider"> / </div>
  <a class="section" href="{{.url}}">Users</a>
  <div class="divider"> / </div>
  <div class="active section">{{.user_name}}</div>
</div>

<div class="ui divider"></div>

<form class="ui form" id="form_id" method="POST" action="{{.apiurl}}">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" id="username" value="{{.username}}" placeholder="Username" data-lpignore="true">
  </div>

  <div class="field">
    <label>Group</label>
    <select name="groups" multiple="" class="ui fluid dropdown" id="group_id">
      {{range $val := .allgroups}}<option value="{{$val.Id}}">{{$val.Group_name}}</div>{{end}}
    </select>
  </div>

  <button class="ui button" type="submit" id="form_save">Submit</button>
</form>

</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();

    var usergroups = JSON.parse('{{ .usergroups }}');
    $('#group_id').dropdown('set selected', usergroups);

</script>


</body>
</html>
