<link rel="icon" href="/resource/image/favicon.ico" type="image/x-icon">

<script src="/plugin/jquery-3.1.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/plugin/fomantic-ui-2.8.8/semantic.min.css">
<script src="/plugin/fomantic-ui-2.8.8/semantic.min.js"></script>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* 保证撑满整个视口 */
    }

    .maincontainer {
      flex: 1; /* 关键：自动撑满剩余空间 */
      margin-top: 2em;
    }

    .ui.footer.segment {
      margin: 0; /* 避免下方额外空隙 */
      padding: 2em 0em;
    }

</style>
