<link rel="icon" href="/resource/image/favicon.ico" type="image/x-icon">

<script src="/plugin/jquery-3.1.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/plugin/fomantic-ui-2.8.8/semantic.min.css">
<script src="/plugin/fomantic-ui-2.8.8/semantic.min.js"></script>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .maincontainer {
        margin-top: 2em;

        min-height: 100%;
        /* margin-bottom: -200px; */
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        /* padding: 5em 0em; */
    }
</style>
